[href*="html"]{
    text-decoration: none;
    color: yellow;
}
/*Estructura*/
.header{
    padding-left: 50px;
}
/* TEMAS */
.class-select {
    background-color: blue;
    margin: 0;
    padding-left: 0;
    color: aqua;
}
.hide-clases>ul{
    display: none;
}
.alinear{
    display: inline-block;
    padding: 5px;
}
/* Interaccion con temas para ver subtemas */
.selectores-class:hover ul{
    display: block;
}
.introduccion-class:hover ul{
    display: block;
}
.EHC-class:hover ul{
    display:block;
}
.BM-class:hover ul{
    display: block;
}
.BS-class:hover ul{
    display: block;
}
.Background-class:hover ul{
    display: block;
}
.Text-class:hover ul{
    display:block;
}
.Pseudoclass:hover ul{
    display:block;
}
.PseudoEclass:hover ul{
    display:block;
}